/* To do: make css    */
/* Styles for everything*/
*{

    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    


}

/* Top banner intro styles and such*/

.topbanner {
    display: flex;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blue;
    justify-content: space-between;
    align-items:center;
}

/* Top Banner: Name*/
.topbanner h1 {
    display:flex;
    background-color: white;
}


/* Top banner box containing: About me, my work, Contact Me */
.topbanner nav {
    display: flex;
    background-color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    height:100%;
}

.topbanner nav li {
    display: inline-block;
    font-size: 20px;
    border: 2px solid black;
}

/*    Stlying for About me section          */

#mepic {
    align-items: right;

}




/*stylizing for class apps, main seciton container */

.apps {
    display: flex;
    background-color: darkgreen;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid black;
    border-radius: 2%;
    height:40vh;

    
}

/* stylizing and formating for work applications */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid blue;
    width: 33%;
    flex-wrap: wrap;
    border-radius: 2%;
        
}
 /* styling for each apps title */
            /*Styling for title of each app */
 .cards h1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    margin: 0%;
    
 }


 /*styling for the container with the content*/
 .cards div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: green;
    width: 100%;
    height: 90%;
 }

 /*  stylizing for image of each app   */
 .cards h2 {
    display: flex;
    align-items: center;
    border:none;
 }



.contactMe {
    display: flex;
    flex-direction: row;
    flex: wrap;
    border: 5px solid black;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.contactMe nav li {
    display:inline-block;
    font-size: 20px;

}



/* To do: insert responsive web design    */
/*To do: add media query -> change size of applications when viewing */


