/* To do: make css    */
/* Styles for everything*/
*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}



/* Top banner intro styles and such*/

.topbanner {
    display: flexbox;
    justify-content: top;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blue;
}


.topbanner h1 {
    display:inline-block;
    background-color: white;
    
}

.topbanner nav {
    display:flexbox;
    float: right;
    background-color: blueviolet;
    list-style-type: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.topbanner nav li {
    display: inline-block;
    align-content: right;
    font-size: 15px;
}

/*stylizing for class apps, main seciton */

.apps {
    display: flex;
    float:center;
    background-color: darkgreen;
    flex: wrap;

}

.apps cards {
    display: flexbox;
    flex-direction: row;
    border: 5px solid black;
    width: 33%;
}



/* to do: create aside class to be on side bar   */
.navbar {
    display: flexbox;
    float: right;
    margin-top: 5%;
    margin-right: 2%;
    background-color: forestgreen;
    text-decoration: underline;
    color: white;
}


.navbar div {
    float: right;
    
}



/* To do: insert responsive web design    */


/*To do: add media query -> change size of applications when viewing */


