/* To do: make css    */
/* Styles for everything*/
*{
    box-sizing: border-box;
    background-color: green;
    font-family: 'Times New Roman', Times, serif;

}

topbanner {
    padding 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blue;
}


navbar {
    display: block;
    float: right;


}

/* To do: insert responsive web design    */


/*To do: flexwork -> change size of applications when viewing */


/* to do: create aside class to be on side bar   */